<button type="button" class="btn btn-green btn-block" printSectionId="acuse"
printTitle="CARATULA"
ngxPrint
styleSheetFile="/assets/acuse.scss">Imprimir Solapa</button>


<div >
    <div id="acuse">
      <table style="width:100%">
        <tr>
       
          <th style="text-align: center;">   <img src="assets/escudo.png" alt="Escudo misiones" width="80px"> </th>
          <th style="text-align: center; max-width: 500px; padding-top: 50px; padding-left: 50px;">“Año 2021 - Año de la Prevención y Lucha contra
            el COVID-19, Dengue y demás Enfermedades
            Infectocontagiosas, contra la Violencia por motivos
            de Género en todas sus formas, del Bicentenario del
            Fallecimiento del General Martín Miguel de
            Güemes y de la Transición de la Década de Acción
            de los Objetivos de Desarrollo Sostenible”.</th>
        </tr>
        <tr>
          <th style="text-align: center;">PROVINCIA DE MISIONES</th>
        </tr>
        <tr>
          <th style="text-align: center;">Ministerio de Gobierno</th>
        </tr>
        
        <tr>
          <th style="text-align: center;">Subsecretaria de Gob y Asuntos Registrales</th>
        </tr>
        <br>
        <tr>
          <th style="text-align: center;  font-weight: 900; padding: 5px;">DIRECCION GENERAL DE CATASTRO</th>  
        </tr> 
       
      </table>

      <h2 style="text-align: center; font-weight: bold; margin-top: 50px;">MESA DE ENTRADA Y SALIDAS</h2>
      <h2 style="text-align: center; font-weight: 900; font-size: 18px;">Departamento de Geodesia y Cartografia</h2>

      <p>
        Por la presente, se deja constancia que el TRAMITE n 1234 del Tipo PRE M.P.U y f(U) INICIADO EN FECHA 31/12/2021, eSPEDIENTE n 1332123123 con Presentacion N1 se ha recibido con la siguiente 
        documentacion: 
      </p>

      <table style="border: 1px solid black;  width: 100%;">
        <tr>
          <th style="border-bottom: 1px solid black; background-color: rgb(216, 216, 216);">
            Documentacion Presentada
          </th>
        </tr>

        <tr>
          <td>
            asdasdasd
          </td>
        </tr>
      </table>

     
      <h4 style="margin-top: 50px;"> Presentado por: </h4>
      
      <li> Alberto Fernandez</li>
      <li> DNI 12346556</li>

      
      <h4 style="margin-top: 50px;">Profesional Solicitante:</h4> 

      <li>Pablito Lescano</li>
      <li>Agrimensor</li>
      <li>D.N.I 12345612</li>

      <p style="text-align: right;">
        FIRMA <br>
        Nombre Directora <br>
        Director General de Catastro
      </p>
      <p style="bottom: 0;">
        Usuario Impresion: USU<br>
        Fecha Impresion: 31/12/2021 hora
      </p>
    </div>
  </div>