<div class="page-content page-container" id="page-content">
    <div class="padding">
        
        
        
        
        <div class="row" *ngIf="isAdmin">

            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(127, 214, 255, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">
                                <div class="px-4 flex" *ngIf="expedientes">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ expedientes.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(127, 255, 212, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="expedientes">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ expedientes.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes Aprobados</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(255, 127, 127, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="expedientes">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ expedientes.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes Rechazados</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(255, 242, 127, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="expedientes">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ expedientes.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en revision</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="usuarios">
                                    <div class="row">
                                        <div class="col col-md-6">
                                            <div class="text-success mt-2 icono">{{ usuarios.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Usuarios en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10" >
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="usuarios">
                                    <div class="row">
                                        <div class="col col-md-6">
                                            <div class="text-success mt-2 icono">{{ usuarios.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Usuarios en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="usuarios">
                                    <div class="row">
                                        <div class="col col-md-6">
                                            <div class="text-success mt-2 icono">{{ usuarios.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Usuarios en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="usuarios">
                                    <div class="row">
                                        <div class="col col-md-6">
                                            <div class="text-success mt-2 icono">{{ usuarios.count }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Usuarios en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row" *ngIf="isEmpleado">
            <div class="container">
    
                <div class="row">
                    <h1 style="font-weight: bold;">Consulta de Expediente</h1>
                </div>
                
                <br>  
                <form [formGroup]="consultaForm">
                    <div class="row">
                      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="username" class="form-label"><b>Entrada/Salida</b></label>
                            <input  formControlName="numero" maxlength="10" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off">
                        </div>
                        
                        <div class="col-md-4">
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" (click)="buscarExpediente()" class="btn   btn-primary">Buscar</button>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
            
                    <hr />
            
                    <div class="row" *ngIf="isEmpleado">

                        <div class="row">
                            <h1 style="font-weight: bold;">Expedientes</h1>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="username" class="form-label"> <b> A ingresar</b></label>
                            <select formControlName="propietario" class="form-select" >
                                <!-- <option [value]="dato.url" *ngFor="let dato of usuarios.results" value="">{{dato.nombre}}</option> -->
                                <option value="Seleccione" selected>Seleccione una opcion</option>                       
                            </select>
                        </div>
                        
            
                        <div class="col-md-4">
                            <label for="username" class="form-label"> <b>Ultimas Entradas</b> </label>
                            <select formControlName="gestor" class="form-select" >
                                <!-- <option [value]="dato.url" *ngFor="let dato of usuarios.results" value="">{{dato.nombre}}</option> -->
                                <option value="Seleccione" selected>Seleccione una opcion</option>            
                            </select>
                        </div>
            
            
                        <div class="col-md-4">
                            <label for="username" class="form-label"><b> Ultimas Salidas</b></label>
                            <select formControlName="inmueble"  name="" class="form-select" id="" >
                                <!-- <option [value]="dato.url" *ngFor="let dato of inmuebles.results" value="">{{dato.datos}}</option> -->
                                <option value="Seleccione" selected>Seleccione una opcion</option>            
                              </select>
                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <div class="col-md-3">
                                <div class="mt-3">
                                    <button type="button" (click)="buscarExpedientes()" class="btn btn-primary">Ver todos</button>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </form>
                
                <hr/>
            
               
            </div>
      
        
        
        </div>

        <div class="row" *ngIf="isProfesional">
            
        <div class="container">
            
            <div class="row">
                <h1 style="font-weight: bold;">Consulta de Expediente</h1>
            </div>
            
            <br>  
            <form [formGroup]="consultaForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Consultar por</label>   
                        <select formControlName="param_busqueda" class="form-select" aria-label="Default select example">
                            <option *ngFor="let cat of categories" [ngValue]="cat.value">{{cat.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Número de {{consultaForm.value.param_busqueda}}</label>
                        <input (keyup.enter)="buscarExpediente()" formControlName="numero" maxlength="10" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off">
                        <small *ngIf="consultaForm.value.param_busqueda === 'expediente'" id="emailHelp" class="form-text text-muted">Ingrese el numero de expediente y año, sin espacios.</small> 
                        <small *ngIf="consultaForm.value.param_busqueda === 'tramite'" id="emailHelp" class="form-text text-muted">Ingrese el numero de tramite, sin espacios.</small>    
                    </div>
                    
                    <div class="col-md-4">
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" (click)="buscarExpediente()" class="btn btn-green">Buscar</button>
                                </div>
                                <div class="col-md-6">
                                    <button routerLink="/expediente/agregar" type="button" class="btn btn-green">Nuevo</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

              

                <hr />

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Número de Expediente</label>
                        <input  formControlName="numero" maxlength="5" inputmode="numeric" placeholder="Número de expediente" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="Año" class="form-label">Año</label>
                        <select formControlName="anio" class="form-select" >
                            <option [value]="dato" *ngFor="let dato of rangeYear()" value="">{{dato}}</option>
                        </select>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="Año" class="form-label">Abreviatura</label>
                        <input  formControlName="abreviatura" maxlength="20" inputmode="text" placeholder="Abreviatura" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-md-4">
                        <label for="username" class="form-label">Propietario</label>
                        <input  formControlName="propietario" maxlength="20" inputmode="text" placeholder="Nombre de Propietario" class="form-control" autocomplete="off">
                    </div>
                    
                    <div class="col-md-4">
                        <label for="username" class="form-label">Gestor</label>
                        <input  formControlName="gestor" maxlength="20" inputmode="text" placeholder="Gestor" class="form-control" autocomplete="off">
                    </div>
        
        
                    <div class="col-md-4">
                        <label for="username" class="form-label">Inmueble</label>
                        <input  formControlName="inmueble" maxlength="20" inputmode="text" placeholder="Inmueble" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-md-4 ">
                        <div class="mt-3">
                            <button type="button" (click)="buscarExpedientes()" class="btn btn-green">Consultar</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <hr/>
        
            <div *ngIf="expedientes">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Año</th>
                            <th>Gestor / Iniciador</th>
                            <th>Propietario</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exp of expedientes.results">
        
                            <td>{{ exp.numero }}</td>
                            <td>{{ exp.anio }}</td>
                            <td *ngIf="exp.gestor"> {{ exp.gestor.nombre }} {{ exp.gestor.apellido }}</td> 
                            <td *ngIf="!exp.gestor"> {{ exp.agrimensor.nombre }} {{ exp.agrimensor.apellido }}</td> 
                            <td> {{ exp.propietario.nombre }} {{ exp.propietario.apellido }}</td>
                            <td><b>Estado</b></td>
                            <td>
                                <a [routerLink]="['/expediente/', exp.id ]" ><span style="color: white; background-color: black; padding: 5px 10px 5px 10px; border-radius: 100px;"><i class="fa fa-info"></i></span></a>
                                <a (click)="eliminar(exp.id)" ><span style="color: rgb(248, 9, 9); padding: 10px; border-radius: 50px;"><i class="fa fa-times"></i></span></a>
                                <a (click)="eliminar(exp.id)" ><span><span style="color: rgb(248, 152, 9); padding: 10px; border-radius: 50px;"><i class="fas fa-undo"></i></span></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <div class="col-md-4">
                    <div class="mt-3">
                        <button type="button" class="btn btn-green float-right">Limpiar</button>
                    </div>
                </div>
        
                
            </div> 
          
        </div>
        
        <hr>
        
        <swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>
        <ngx-spinner></ngx-spinner>