<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <!-- <div class="row">
            
            <div class="d-flex justify-content-center">
                <h1>EXPEDIENTES</h1> 
            </div>
            
        </div>  -->
        <div class="row mb-4" *ngIf="isAdmin">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(127, 214, 255, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">
                                <div class="px-4 flex" *ngIf="cantidad_sectores">
                                    <div class="row">
                                        <div class="col col-md-10 col-sm-6">
                                            <div class="text-success mt-2 icono">{{ cantidad_sectores.total_expedientes }}</div>
                                        </div>

                                        <div class="col col-md-2 col-sm-6">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en el sistema</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_sectores" class="spinner-border spinner-border-sm mr-1"></span>  
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(127, 255, 212, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_sectores">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_sectores.mesa_entrada }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en Mesa de Entrada</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_sectores" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(255, 127, 127, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_sectores">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_sectores.lindero }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en Lindero</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_sectores" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10" style="background-color: rgba(255, 242, 127, 0.267);">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_sectores">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_sectores.tecnico }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-file-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Expedientes en Revision</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_sectores" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_usuarios">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_usuarios.administradores }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Administradores</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_usuarios" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10" >
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_usuarios">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_usuarios.empleados }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Empleados</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_usuarios" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_usuarios">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_usuarios.propietarios }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Propietarios</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_usuarios" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                <div class="card flex" data-sr-id="10">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success">

                                <div class="px-4 flex" *ngIf="cantidad_usuarios">
                                    <div class="row">
                                        <div class="col col-md-10">
                                            <div class="text-success mt-2 icono">{{ cantidad_usuarios.profesionales }}</div>
                                        </div>

                                        <div class="col col-md-2">
                                            <i class="fa fa-user-alt icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="md-text">Profesionales</div> 
                                    </div> 
                                </div>
                        </div>
                        <span *ngIf="!cantidad_usuarios" class="spinner-border spinner-border-sm mr-1"></span>  

                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="isEmpleado || isAdmin || isEmpleadoME">
            <div class="container">
    
                <div class="row">
                    <h1>Consulta de Expediente</h1>
                </div>
                
                <br>  
                <form [formGroup]="consultaForm">
                    <div class="row">
                      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="numero" class="form-label"><b>Entrada/Salida</b></label>
                            <input (keyup.enter)="cargarExpedienteAlSector()" formControlName="numero" maxlength="8" 
                                inputmode="numeric" placeholder="Número" class="form-control" maxlength="8" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && r.numero.errors }">
                            <div *ngIf="submitted && r.numero.errors" class="invalid-feedback">
                                <div *ngIf="r.numero.errors.required">Este campo es obligatorio</div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" (click)="cargarExpedienteAlSector()" class="btn btn-green">Cargar</button>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
            
                    <hr />
            
                    <div class="row" *ngIf="isEmpleado || isAdmin || isEmpleadoME">

                        <div class="row">
                            <h1>Expedientes</h1>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="expedientes_a_entrar" class="form-label"> <b> A ingresar</b></label>
                            <select *ngIf="expedientes_a_entrar!=''; else ninguno" class="form-select" >
                                <option [value]="dato.id_historial" *ngFor="let dato of expedientes_a_entrar | orderBy:'id_historial'">{{dato.numero_tramite}} </option>
                            </select>
                        </div>
                        
            
                        <div class="col-md-4">
                            <label for="expedientes_sector" class="form-label"> <b>Ultimas Entradas</b> </label>
                            <select *ngIf="expedientes_sector!=''; else ninguno" class="form-select" >
                                <option [value]="dato.id_historial" *ngFor="let dato of expedientes_sector | orderBy:'id_historial'">{{dato.numero_tramite}} </option>
                            </select>
                        </div>
            
            
                        <div class="col-md-4">
                            <label for="expedientes_salida" class="form-label"><b> Ultimas Salidas</b></label>
                            <select *ngIf="expedientes_salida!=''; else ninguno" class="form-select" >
                                <option [value]="dato.id_historial" *ngFor="let dato of expedientes_salida | orderBy:'id_historial'">{{dato.numero_tramite}} </option>
                            </select>

                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <div class="col-md-3">
                                <div class="mt-3">
                                    <button type="button" [routerLink]="['/transiciones']" class="btn btn-green">Ver todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
            </div>
        </div>

        <ng-template #ninguno>
            <select  class="form-select" >
                <option>Ninguno</option>
            </select>
        </ng-template>

        <div class="row" *ngIf="isProfesional">
        <div class="container">
            <div class="row">
                <h1 style="font-weight: bold;">Consulta de Expediente</h1>
            </div>
            <br>  
            <form [formGroup]="consultaForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Consultar por3</label>   
                        <ng-select id="param_busqueda" [multiple]="false" [closeOnSelect]="true" formControlName="param_busqueda" >
                            <ng-option value="" disabled>Seleccione una opcion</ng-option>
                            <ng-option *ngFor="let cat of categories" [value]="cat.value" [disabled]="cat.disabled">{{cat.name}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Número de {{consultaForm.value.param_busqueda}}</label>
                        <input (keyup.enter)="buscarExpediente()" formControlName="numero" maxlength="10" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off">
                        <small *ngIf="consultaForm.value.param_busqueda === 'expediente'" id="emailHelp" class="form-text text-muted">Ingrese el numero de expediente y año, sin espacios.</small> 
                        <small *ngIf="consultaForm.value.param_busqueda === 'tramite'" id="emailHelp" class="form-text text-muted">Ingrese el numero de tramite, sin espacios.</small>    
                    </div>
                    
                    <div class="col-md-4">
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" (click)="buscarHistorialExpediente()" class="btn btn-green">Buscar</button>
                                </div>
                                <div class="col-md-6">
                                    <button routerLink="/expediente/agregar" type="button" class="btn btn-green">Nuevo</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="username" class="form-label">Número de Expediente</label>
                        <input  formControlName="numero" maxlength="5" inputmode="numeric" placeholder="Número de expediente" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="Año" class="form-label">Año</label>
                        <select formControlName="anio" class="form-select" >
                            <option [value]="dato" *ngFor="let dato of rangeYear()" value="">{{dato}}</option>
                        </select>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="Año" class="form-label">Abreviatura</label>
                        <input  formControlName="abreviatura" maxlength="20" inputmode="text" placeholder="Abreviatura" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-md-4">
                        <label for="username" class="form-label">Propietario</label>
                        <input  formControlName="propietario" maxlength="20" inputmode="text" placeholder="Nombre de Propietario" class="form-control" autocomplete="off">
                    </div>
                    
                    <div class="col-md-4">
                        <label for="username" class="form-label">Gestor</label>
                        <input  formControlName="gestor" maxlength="20" inputmode="text" placeholder="Gestor" class="form-control" autocomplete="off">
                    </div>
        
        
                    <div class="col-md-4">
                        <label for="username" class="form-label">Inmueble</label>
                        <input  formControlName="inmueble" maxlength="20" inputmode="text" placeholder="Inmueble" class="form-control" autocomplete="off">
                    </div>
        
                    <div class="col-md-4 ">
                        <div class="mt-3">
                            <button type="button" (click)="buscarExpedientes()" class="btn btn-green">Consultar</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <hr/>
        
            <div *ngIf="expedientes">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Año</th>
                            <th>Gestor / Iniciador</th>
                            <th>Propietario</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exp of expedientes.results">
        
                            <td>{{ exp.numero }}</td>
                            <td>{{ exp.anio }}</td>
                            <td *ngIf="exp.gestor"> {{ exp.gestor.nombre }} {{ exp.gestor.apellido }}</td> 
                            <td *ngIf="!exp.gestor"> {{ exp.agrimensor.nombre }} {{ exp.agrimensor.apellido }}</td> 
                            <td> {{ exp.propietario.nombre }} {{ exp.propietario.apellido }}</td>
                            <td><b>Estado</b></td>
                            <td>
                                <a [routerLink]="['/expediente/', exp.id ]" ><span style="color: white; background-color: black; padding: 5px 10px 5px 10px; border-radius: 100px;"><i class="fa fa-info"></i></span></a>
                                <a (click)="eliminar(exp.id)" ><span style="color: rgb(248, 9, 9); padding: 10px; border-radius: 50px;"><i class="fa fa-times"></i></span></a>
                                <a (click)="eliminar(exp.id)" ><span><span style="color: rgb(248, 152, 9); padding: 10px; border-radius: 50px;"><i class="fas fa-undo"></i></span></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <div class="col-md-4">
                    <div class="mt-3">
                        <button type="button" class="btn btn-green float-right">Limpiar</button>
                    </div>
                </div>
            </div> 
        </div>
        
        <hr>
        
        <ngx-spinner></ngx-spinner>
