

<div class="container">

    <h2 *ngIf="isAddMode" style="font-weight: bold;">Crear Usuario</h2>
   

    <br>

    <div class="row">
        <div class="col-12">
             <form class="row g-3" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">

                  <div class="form-group">
                    
                    <label for="nombre" class="form-label">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                      <div *ngIf="f.nombre.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    
                    <label for="cuit" class="form-label">Cuit</label>
                    <input formControlName="cuit" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.cuit.errors }">
                    <div *ngIf="submitted && f.cuit.errors" class="invalid-feedback">
                      <div *ngIf="f.cuit.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>


                  <div class="form-group">
                    
                    <label for="dni" class="form-label">DNI</label>
                    <input formControlName="dni" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }">
                    <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                      <div *ngIf="f.dni.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="rol" class="form-label">Rol</label>
                    <select *ngIf="roles" formControlName="rol" name="" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.rol.errors }">
                      <option value="" disabled>Seleccione una Opcion</option>
                      <option [ngValue]="dato" *ngFor="let dato of roles.results" value="">{{dato.nombre}}</option>
                    </select>
                    <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
                      <div *ngIf="f.rol.errors.required">Este campo es obligatorio</div>
                    </div>
                  </div>

              
                    <div class="col-3">
                      <button type="button" class="btn btn-primary">Volver</button>
                    </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    
                    <label for="apellido" class="form-label">Apellido</label>
                    <input formControlName="apellido" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }">
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                      <div *ngIf="f.apellido.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    
                    <label for="matricula" class="form-label">Matricula</label>
                    <input formControlName="matricula" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.matricula.errors }">
                    <div *ngIf="submitted && f.matricula.errors" class="invalid-feedback">
                      <div *ngIf="f.matricula.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    
                    <label for="direccion" class="form-label">Direccion</label>
                    <input formControlName="direccion" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }">
                    <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                      <div *ngIf="f.direccion.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    
                    <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input formControlName="fecha_nacimiento" type="date" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }">
                    <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                      <div *ngIf="f.fecha_nacimiento.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                  <div class="form-group">
                    
                    <label for="email" class="form-label">Email</label>
                    <input formControlName="email" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>

                 


                  <div class="form-group">
                    
                    <label for="telefono" class="form-label">Telefono</label>
                    <input formControlName="telefono" type="text" class="form-control" id="" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
                    <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                      <div *ngIf="f.telefono.errors.required">Este campo es obligatorio</div>
                    </div>

                  </div>
                  
                  

                    <div class="row">

                      <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Cancelar</button>
                        <!-- <button type="submit" class="btn btn-primary" >Guardar</button> -->
                      </div>

                      <div class="col-md-6">

                        <button type="submit" [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Guardar
                        </button>

                      </div>
                      
                    </div>  
                </div>
               
                
              </form>  
    </div>
    </div>
    
    <hr>


</div>