<ngx-spinner></ngx-spinner>

<div>
    
    <div class="row">
        <h1 style="font-weight: bold;">Consulta de Historial</h1>
    </div>
    
    <br>  
    <form [formGroup]="consultaForm">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="param_busqueda" class="form-label">Consultar por</label>   
                <select formControlName="param_busqueda" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && r.param_busqueda.errors }">
                    <option *ngFor="let cat of categories" [ngValue]="cat.value">{{cat.name}}</option>
                </select>
                <div *ngIf="submitted && r.param_busqueda.errors" class="invalid-feedback">
                    <div *ngIf="r.param_busqueda.errors.required">Este campo es obligatorio</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="numero" class="form-label">Número de {{consultaForm.value.param_busqueda}}</label>
                <input (keyup.enter)="buscarHistorial()" formControlName="numero" maxlength="8" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && r.numero.errors }">
                <small *ngIf="consultaForm.value.param_busqueda === 'expediente'" id="emailHelp" class="form-text text-muted">Ingrese el numero de expediente y año, sin espacios.</small> 
                <small *ngIf="consultaForm.value.param_busqueda === 'tramite'" id="emailHelp" class="form-text text-muted">Ingrese el numero de trámite, sin espacios.</small>    
                <div *ngIf="submitted && r.numero.errors" class="invalid-feedback">
                    <div *ngIf="r.numero.errors.required">Este campo es obligatorio</div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" (click)="buscarHistorial()" class="btn btn-green">Buscar <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> </button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </form>
    <ngx-spinner></ngx-spinner>
</div>

<hr>

<div *ngIf="datos" class="container2">
    <div class="row mt-5">
        <h2 style="font-weight: bold;">Historial de Estado</h2>
    </div>

    <div *ngIf="datos">
        <table class="table table-striped" >
            <tbody>
                <tr>
                    <th>Número</th>
                    <td>{{datos?.tramite.expediente.numero}}</td>
                </tr>
                <tr>
                    <th>Año</th>
                    <td>{{datos?.tramite.expediente.anio}}</td>
                </tr>
                <tr>
                    <th>Número Presentación</th>
                    <td>{{datos?.tramite.numero_presentacion}}</td>
                </tr>

                <tr>
                    <th>Trámite</th>
                    <td>{{datos?.tramite.numero}}{{datos?.tramite.codigo_verificacion}}</td>
                </tr>

                <tr>
                    <th>Mensura</th>
                    <td>{{datos?.tramite.expediente.mensura?.nombre}}</td>
                </tr>
                <tr>
                    <th>Abreviatura</th>
                    <td>{{datos?.tramite.expediente.mensura?.abreviatura}} <span *ngIf="datos?.tramite?.tramite_urgente">[(U)]</span></td>
                </tr>
                <tr>
                    <th>Tipo de Expediente</th>
                    <td>{{datos?.tramite.expediente.tipo_expediente.nombre}}</td>
                </tr>
                <tr>
                    <th>Agrimensor</th>
                    <td>{{datos?.tramite.expediente.agrimensor?.nombre | uppercase}} {{datos?.tramite.expediente.agrimensor?.apellido | uppercase}}</td>
                </tr>
                <tr>
                    <th>Iniciador/Gestor</th>
                    <td *ngIf="datos?.tramite.expediente.gestor;else agrimensor">{{datos?.tramite.expediente.gestor?.nombre | uppercase}} {{datos?.tramite.expediente.gestor?.apellido | uppercase}}</td>
                    <ng-template #agrimensor><td>{{datos?.tramite.expediente.agrimensor?.nombre | uppercase}} {{datos?.tramite.expediente.agrimensor?.apellido | uppercase}}</td></ng-template>
                    
                </tr>
                <tr>
                    <th>Propietario</th>
                    <td>{{datos?.tramite.expediente.propietario?.nombre | uppercase}} {{datos?.tramite.expediente.propietario?.apellido | uppercase}}</td>
                </tr>
                <tr>
                    <th>Inmueble</th>
                    <td>{{datos?.tramite.expediente.inmueble?.seccion}}-{{datos?.tramite.expediente.inmueble?.chacra}}-{{datos?.tramite.expediente.inmueble?.manzana}}-{{datos?.tramite.expediente.inmueble?.parcela}}-{{datos?.tramite.expediente.inmueble?.unidad_funcional}}</td>
                </tr>
            </tbody>
        </table>        

    </div> 

    <div class="timeline">
       <ul>
          <li *ngFor="let historial of historiales; last as isLast">
            <div class="bullet green" [ngClass]="{ 'red': isLast}"></div>
            <div class="time">
                <h3>{{historial.transicion.sector_sucesor.nombre}}</h3>
                <h4><b>Ingresó:</b> {{historial.fecha_entrada | date : 'fullDate'}} - {{historial.fecha_entrada | date : 'shortTime'}} Hrs.</h4>
                <h4 *ngIf="historial.fecha_salida"><b>Salió:</b> {{historial.fecha_salida | date : 'fullDate'}} - {{historial.fecha_salida | date : 'shortTime'}} Hrs.</h4>
            </div> 
             <div>{{historial.transicion.estado.nombre | uppercase}}</div>                      
          </li>
       </ul>            
    </div>    
    
  </div>

<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>