
<div class="">
    
    <div class="row">
        <h1 style="font-weight: bold;">Consulta de Usuarios</h1>
    </div>
    
    <br>


   
    
    <form [formGroup]="consultaForm">
        <div class="row justify-content-between">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="numero" class="form-label">Dni</label>
                        <input (keyup.enter)="buscarUsuario()" formControlName="numero" maxlength="8" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }">
                        <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                            <div *ngIf="f.numero.errors.required">Este campo es obligatorio</div>
                            <div *ngIf="f.numero.errors">Debe ingresar 7 caracteres como mínimo</div>
                            <div *ngIf="f.numero.errors.pattern">Ingresar solo números</div>
                        </div>
                    </div>
                </div>
            
            <div class="col-lg-5 col-md-6">
                <div class="mt-md-3 mt-sm-0">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" (click)="buscarUsuario()" class="btn btn-green">Buscar</button>
                        </div>
                        <div class="col-md-6">
                            <button routerLink="/usuario/agregar" type="button" class="btn btn-green">Nuevo</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>


        <hr />

        <div class="row" *ngIf="isAdmin">


            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="nombre" class="form-label">Nombre</label>
                <input (keyup.enter)="buscarUsuarios()" formControlName="nombre" maxlength="50" inputmode="numeric" placeholder="Nombre de Usuario" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted2 && f.nombre.errors }">
                <div *ngIf="f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.pattern">Ingresar solo letras</div>
                </div>
            </div>
            

            <div class="col-md-4">
                <label for="username" class="form-label">ROL</label>
                <ng-select  [multiple]="false" [closeOnSelect]="true" formControlName="rol" [ngClass]="{ 'is-invalid': submitted && f.rol.errors }">
                    <ng-option value="" disabled>Seleccione una Opcion</ng-option>
                    <ng-option *ngFor="let dato of roles?.results" [value]="dato.id" [disabled]="dato.disabled">{{dato.nombre}}</ng-option>
                </ng-select>

                <select *ngIf="!roles" class="form-select" >
                    <option value="Cargando" selected>Cargando</option>
                </select>
                
            </div>

            <div class="col-md-4">
                <label for="username" class="form-label">Matricula</label>
                <input (keyup.enter)="buscarUsuarios()" formControlName="matricula" maxlength="20" inputmode="numeric" placeholder="Matricula" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted2 && f.matricula.errors }">
                <div *ngIf="f.matricula.errors" class="invalid-feedback">
                    <div *ngIf="f.matricula.errors">Debe ingresar 4 caracteres como mínimo</div>
                    <div *ngIf="f.matricula.errors.pattern">Ingresar solo números</div>
                </div>
            </div>
        

            <div class="col-md-4 ">
                <div class="mt-3">
                    <button type="button" (click)="buscarUsuarios()" class="btn btn-green">Consultar</button>
                </div>
            </div>
        </div>
    </form>
    
    <hr *ngIf="usuarios" />

    <div *ngIf="usuarios">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>DNI</th>
                    <th>CUIT</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usr of usuarios.results | paginate: { itemsPerPage: 10, currentPage: p, totalItems: usuarios.count }">

                    <td>{{ usr.nombre }} {{ usr.apellido }}</td>
                    <td>{{ usr.dni }}</td>
                    <td>{{ usr.cuit }}</td>
                    <td>{{ usr.email }}</td>
                    <td *ngIf="usr.habilitado == true"><b>Activo</b></td>
                    <td *ngIf="usr.habilitado == false"><b>Inactivo</b></td>
                    <td>
                        <a [routerLink]="['/usuario/', usr.id ]" ><span style="color: white; background-color: black; padding: 5px 10px 5px 10px; border-radius: 100px;"><i class="fa fa-info"></i></span></a>
                        <a (click)="eliminar(usr.id)" ><span style="color: rgb(248, 9, 9); padding: 10px; border-radius: 50px;"><i class="fa fa-times"></i></span></a>
                        <a [routerLink]="['/usuario/editar/', usr.id]"><span><span style="color: rgb(248, 152, 9); padding: 10px; border-radius: 50px;"><i class="fas fa-edit"></i></span></span></a>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="d-flex justify-content-center">

            <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>


        </div>

        <div class="col-md-4">
            <div class="mt-3">
               
                <button type="button" (click)="limpiar()" class="btn btn-green float-right">Limpiar</button>
            </div>
        </div>
    
        <!-- <div class="col-lg-12">
            <button [ngClass]="{'disabled': btnActive == false}" class="btn buttons btn-green m-1" type="button" (click)="confirmar()">Confirmar</button>
            <div class="btn buttons m-1">
                Total: ${{ (totalImporte/100).toFixed(2) }}
            </div>
        </div> -->

        

    </div> 



</div>



<hr *ngIf="usuarios">

<pre>{{ closeResult }}</pre>

<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>
<ngx-spinner></ngx-spinner>