input {
    
    margin-bottom: 20px;    
    background-color: white !important;
    
}

select {
    margin-bottom: 20px;
}

.container {
    width: 70%;
}

is-invalid {
    background-color: rgb(212, 154, 154);
}


.btn-table-delete {
    width: auto !important;
    border-radius: 50px !important;
    background-color: #d40e0e;
  }
  
  .btn-table-info {
    width: auto !important;
    border-radius: 50px !important;
    background-color: #000000;
  }
