<nav>
    <div class="row w-100">
        <div class="col-6 header pt-3">
            <img src="assets/img/EscudoMisiones.png" alt="Escudo misiones" width="300px">
            <!-- <h4> DIRECCION GENERAL <br>DE CATASTRO</h4> -->
            <div class="btn-collapsed" (click)="touchButton()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1></h1>
        </div>
        <div class="col-6">
            <div  class="items">
                <!-- <a (click)="show('Aviso')">
                    <p *ngIf="avisos != null" class="icon-notice">{{avisos}}</p>
                    <i class="fal fa-bell"></i>
                    <div class="box-message box-aviso" *ngIf="showAviso">
                        <div class="item">
                            <i class="fas fa-check-circle"></i>
                            <p>Estás al día</p>
                        </div>
                    </div>
                </a> -->
              
                <a (click)="show('Perfil')" style="cursor: pointer;">
                    
                    <p class="">{{ header  | titlecase}}</p>
                    <div class="box-message box-perfil" *ngIf="showPerfil">
                        <!-- <div>
                            <i class="fas fa-check-circle"></i>
                            <p> No tenés mensajes nuevos</p>
                        </div> -->
                        <div class="item">
                            <p>Mi perfil</p>
                        </div>
                        <div (click)=logOut() class="item" style="cursor: pointer;">
                            <p (click)=logOut()>Cerrar Sesion</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>