
<div class="">
    
    <div class="row">
        <h1 style="font-weight: bold;">Consulta de inmuebles</h1>
    </div>
    
    <br>


   
    
    <form [formGroup]="consultaForm">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="param_busqueda" class="form-label">Consultar por</label>   
                <select formControlName="param_busqueda" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && r.param_busqueda.errors }">
                    <option *ngFor="let cat of categories" [ngValue]="cat.value">{{cat.name}}</option>
                </select>
                <div *ngIf="submitted && r.param_busqueda.errors" class="invalid-feedback">
                    <div *ngIf="r.param_busqueda.errors.required">Este campo es obligatorio</div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="username" class="form-label">Ingresar</label>
                <input  (keyup.enter)="buscarInmueble()" formControlName="numero" maxlength="10" inputmode="numeric" placeholder="Número" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && r.numero.errors }">
                <div *ngIf="submitted && r.numero.errors" class="invalid-feedback">
                  <div *ngIf="r.numero.errors.required">Este campo es obligatorio</div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" (click)="buscarInmueble()" class="btn btn-green">Buscar</button>
                        </div>
                        <div class="col-md-6">
                            <button routerLink="/inmueble/agregar" type="button" class="btn btn-green">Nuevo</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <hr />

    </form>
    
    <hr/>

    <div *ngIf="inmuebles">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Unidad Funcional</th>
                    <th>N° de Partida</th>
                    <th>Datos</th>
                    <th>Observaciones</th>
                    <th>Seccion</th>
                    <th>Chacra</th>
                    <th>Manzana</th>
                    <th>Parcela</th>
                    <th>N° de Mensura</th>
                    <th>Municipio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inm of inmuebles.results | paginate: { itemsPerPage: 10, currentPage: p, totalItems: inmuebles.count }">

                    <td>{{ inm.unidad_funcional }}</td>
                    <td>{{ inm.numero_partida }}</td>
                    <td>{{ inm.datos }}</td>
                    <td>{{ inm.observaciones }}</td>
                    <td>{{ inm.seccion }}</td>
                    <td>{{ inm.chacra }}</td>
                    <td> {{ inm.manzana }}</td>
                    <td> {{ inm.parcela }}</td>
                    <td>{{ inm.numero_mensura }}</td>
                    <td>{{ inm.municipio.descripcion }}</td>
                    <td>
                        <a class="mx-1" [routerLink]="['/inmueble/', inm.id ]" >
                            <span style="color: gray;">
                                <svg id="i-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M16 14 L16 23 M16 8 L16 10" />
                                    <circle cx="16" cy="16" r="14" />
                                </svg>
                            </span>
                        </a>
                        <a *ngIf="isAdmin" class="mx-1" (click)="eliminar(inm.id)" >
                            <span style="color: rgb(248, 86, 86);">
                                <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="d-flex justify-content-center">

            <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>


        </div>

        <div class="col-md-4">
            <div class="mt-3">
               
                <button type="button" (click)="limpiar()" class="btn btn-green float-right">Limpiar</button>
            </div>
        </div>
    
        <!-- <div class="col-lg-12">
            <button [ngClass]="{'disabled': btnActive == false}" class="btn buttons btn-green m-1" type="button" (click)="confirmar()">Confirmar</button>
            <div class="btn buttons m-1">
                Total: ${{ (totalImporte/100).toFixed(2) }}
            </div>
        </div> -->

        

    </div> 



</div>



<hr>

<pre>{{ closeResult }}</pre>

<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>
<ngx-spinner></ngx-spinner>