<app-filtro></app-filtro>
<div >
    <app-tabla [indiceItems]="true"  [displayedColumns]="displayedColumnsDetalles" [displayedColumnsSearch]="displayedColumnsSearchDetalles" [dataSource]="dataSourceDetalles" [mensajeResultado]="mensajeResultadoDetalles"></app-tabla>
    <!-- <div class="col-lg-12">
        <button [ngClass]="{'disabled': btnActive == false}" class="btn buttons btn-green m-1" type="button" (click)="confirmar()">Confirmar</button>
        <div class="btn buttons m-1">
            Total: ${{ (totalImporte/100).toFixed(2) }}
        </div>
    </div> -->
</div>