
.xxl-text {
  font-size: 3rem;
}

.xl-text {
  font-size: 2rem;
}

.lg-text {
  font-size: 1.5rem;
}

.md-text {
  font-size: 1.2rem;
}

.block {
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: .5rem solid;
  min-width: 17.5rem;
  padding: 1%;
}

.icon {
  font-size: 5rem;
  min-width: 5rem;
}

.progress {
  height: 0.6rem;
}

.signature {
  position: absolute;
  bottom: 10px;
}