
    <div class="row mx-3">
        <div class="block border-left-primary shadow d-flex align-items-center">
            <i class="fal fa-file-alt icon"></i>
            <div class="h-100 w-100 p-3">
                <div class="block-title md-text text-primary mb-2">EXPEDIENTE</div>
                <div class="d-flex align-items-baseline justify-content-around w-100">
                    <div class="xl-text text-gray-800">5000</div>
                    <div class="md-text">Expedientes</div>
                </div>
            </div>
        </div>
    </div>
