/* Styles*/

.contenedor {
    background-image: url(https://southcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Frelexsrl-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!DzLTLujX7kCHIWP1gfM_54gGscrdWn9Lnbv6GM0Qe4ObukHqwnlsSZ76mbk9PMwz%2Fitems%2F014JMII6UJWWQIKMR7UBCKXZ5SWXU6ZN6Q%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvcmVsZXhzcmwtbXkuc2hhcmVwb2ludC5jb21AMWM0N2MzZDEtZTEyZi00NzBiLWFjNzktZjc1ZDhiMWNjYzIwIiwiaXNzIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwIiwibmJmIjoiMTYyMzQxMjgwMCIsImV4cCI6IjE2MjM0MzQ0MDAiLCJlbmRwb2ludHVybCI6IjRnN0xESVhzS3Bnb3NoUmI0MC9mTGJhWHBKdmZXZW5JZUh0cThpdFE4T009IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMTgiLCJpc2xvb3BiYWNrIjoiVHJ1ZSIsInZlciI6Imhhc2hlZHByb29mdG9rZW4iLCJzaXRlaWQiOiJNbVZrTXpNeU1HWXRaRGRsT0MwME1HVmxMVGczTWpFdE5qTm1OVGd4WmpNelptVTMiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfG1hcmNvc0ByZWxleC5jb20uYXIiLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHwxMDAzMjAwMTQ4MTY3ZTZjQGxpdmUuY29tIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjMifQ.bEplMlYvYS94S25Qd29kU1dlck1CbTdLTE9jK3dtdTZsQXB0bjVROGZmWT0&encodeFailures=1&width=1115&height=836&srcWidth=4000&srcHeight=3000); 
    background-size: contain !important;
    height: 100vh; 
}

.brand {
    text-align: center;
}

.brand img {
    width: 250px;
}


/*Card*/

.card {
    // border: 1rem;
    border-radius: 10px !important;
    /* color: #1b1464; */
    color: #717171;
    padding: 20px;
}

.card-header {
    background-color: white;
    border: 0px;
}

.card-header h4 {
    font-family: 'Roboto Bold' !important;
    font-size: 1.5rem;
    text-align: center;
    line-height: 36px;
    color: rgb(53, 52, 52);
    padding: 20px;
    line-height: 1;
    font-weight: 900;

}

.card-body form input[type=text],
.card-body form input[type=email],
.card-body form input[type=password] {
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    padding: 10px 15px;
    color: black;
}


/*Form*/

.form-check-input:checked {
    background-color: #646464;
    ;
    border-color: #646464;
    ;
}

.form-check label {
    font-size: 14px;
}

form .form-password small {
    color: #646464;
    float: right;
}

.create-account-text a {
    color: #646464;
    text-decoration: none;
}

.text-left {
    text-align: left;
}

.spinner-border {
    position: relative;
    top: -2px;
}


/*Buton submit */

.btn-submit {
    
    border: none;
    border-radius: 8px;
    padding: 10px 0px;
}

.btn-submit:hover {
    background: #bbbbbb;
}

.btn-submit:active {
    background: #646464;
}

.btn-submit:focus {
    outline: none;
    box-shadow: none;
}


/*Copy*/

.copy {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: #717171;
    font-size: 13px;
}

.copy span {
    font-size: 18px;
    vertical-align: -0.2rem;
}


/* Responsive*/

@media (min-width: 1600px) {
    .column {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 1600px) {
    .column {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (max-width: 1280px) {
    .column {
        flex: 0 0 auto;
        width: 35%;
    }
}

@media (max-width: 1024px) {
    .column {
        flex: 0 0 auto;
        width: 40%;
    }
}

@media (max-width: 991px) {
    .column {
        flex: 0 0 auto;
        width: 45%;
    }
}

@media (max-width: 767px) {
    .column {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 700px) {
    .form-email input::placeholder,
    .form-password input::placeholder {
        color: white;
    }
}

@media (max-width: 700px) {
    .form-password label,
    .form-email label {
        display: none;
    }
    .form-email {
        margin-bottom: 0px !important;
    }
    .form-email input::placeholder,
    .form-password input::placeholder {
        color: #717171;
    }
    .form-password {
        text-align: center;
    }
    .form-password small {
        float: initial !important;
        line-height: 35px;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 0 0 auto;
        width: 65%;
    }
}

@media (max-width: 500px) {
    .column {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media (max-width: 450px) {
    .column {
        flex: 0 0 auto;
        width: 85%;
    }
    .card-header h4 {
        font-size: 25px;
        line-height: 28px;
    }
}

@media (max-width: 375px) {
    .column {
        flex: 0 0 auto;
        width: 90%;
    }
}