<div class="contenedor">
    <div class="row justify-content-center"  >
        <div class="column" style="margin: 7% auto;">
            <div class="card">
                <div class="card-header text-center text-white">
                    <img src="assets/img/EscudoMisionesNegro.png" alt="Escudo misiones" class="img-responsive" width="100%">
                    <!-- <h4 style="font-weight: 800;">DIRECCION GENERAL DE CATASTRO</h4> -->
                </div>
                <div class="card-body">
                    <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                    <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
                        <div class="mb-3 form-email">
                            <label for="email" class="form-label">Usuario</label>
                            <input formControlName="email" #email type="email" class="form-control" placeholder="Usuario" id="email" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Usuario requerido</div>
                            </div>
                        </div>
                        <div class="mb-3 form-password">
                            <label for="password" class="form-label">Contraseña</label>
                            <input formControlName="password" #password type="password" class="form-control" placeholder="Contraseña" id="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="f.password.errors" class="invalid-feedback text-left">
                                <div *ngIf="f.password.errors.required">Contraseña requerida</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <ngx-recaptcha2 #captchaElem
                                [siteKey]='siteKey'
                                formControlName="recaptcha"
                                [ngClass]="{ 'is-invalid': submitted && f.recaptcha.errors }">
                            </ngx-recaptcha2>
                            <div *ngIf="f.recaptcha.errors" class="invalid-feedback text-left">
                                <div *ngIf="f.recaptcha.errors.required">Captcha requerido</div>
                            </div>
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="checkSesion">
                            <label class="form-check-label" for="checkSesion">Mantener la sesión inciada en este equipo</label>
                        </div> -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary w-100 mb-3" (click)="onSubmit()">
                                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                                Iniciar Sesión</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="copy">Dirección General de Catastro <span>&reg;</span> {{date?.getFullYear()}} </div>
        </div>
    </div>
</div>


<swal #failSwal title="Usuario o contraseña incorrectos" icon="warning" confirmButtonText="Aceptar" confirmButtonColor="#53BAAB"></swal>