<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <a *ngIf="_functionsService.isEmpleadoCarga || _functionsService.isEmpleadoME || _functionsService.isEmpleado || _functionsService.isAdmin" class="link" routerLinkActive="active" [routerLink]="['home']">
            <i class="far fa-home"></i>Inicio</a>
        
        <a class="link" *ngIf="_functionsService.isEmpleadoCarga || _functionsService.isEmpleadoME || _functionsService.isEmpleado || _functionsService.isAdmin" routerLinkActive="active" [routerLink]="['expediente/buscar']">
            <i class="far fa-file"></i>Expedientes</a>
        
        <a class="link" *ngIf="_functionsService.isEmpleadoCarga || _functionsService.isEmpleadoME || _functionsService.isEmpleado || _functionsService.isAdmin" routerLinkActive="active" [routerLink]="['historial/buscar']">
            <i class="fas fa-history"></i>Historial</a>

        <a  *ngIf="_functionsService.isEmpleadoCarga || _functionsService.isEmpleadoME || _functionsService.isAdmin" class="link" routerLinkActive="active" [routerLink]="['usuario/buscar']">
            <i class="fad fa-users"></i>Usuarios</a>

        <a  *ngIf="_functionsService.isEmpleadoCarga || _functionsService.isEmpleadoME || _functionsService.isAdmin" class="link" routerLinkActive="active" [routerLink]="['inmueble/buscar']">
            <i class="fab fa-houzz"></i>Inmuebles</a>
    

        <!-- <a *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('documentos')" [routerLink]="['abm/documentos']">
            <i class="fad fa-file"></i>Documentos</a>-->

    </div>
</div>
