<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <a class="link" routerLinkActive="active" (click)="cambioUrl('home')" [routerLink]="['home']">
            <i class="far fa-home"></i>Inicio</a>
        
        <a class="link" *ngIf="true" routerLinkActive="active" (click)="cambioUrl('expedientes')" [routerLink]="['expediente/buscar']">
            <i class="far fa-file"></i>Expedientes</a>
        
        <a class="link" *ngIf="true" routerLinkActive="active" (click)="cambioUrl('historial')" [routerLink]="['historial/buscar']">
            <i class="fas fa-history"></i>Historial</a>

        <a  *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('usuarios')" [routerLink]="['usuario/buscar']">
            <i class="fad fa-users"></i>Usuarios</a>

        <a  *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('inmuebles')" [routerLink]="['inmueble/buscar']">
            <i class="fab fa-houzz"></i>Inmuebles</a>
    

        <!-- <a *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('documentos')" [routerLink]="['abm/documentos']">
            <i class="fad fa-file"></i>Documentos</a>

        <a *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('tipos')" [routerLink]="['abm/tipos']">
            <i class="fad fa-file"></i>Tipo Expediente</a>

        <a *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('tramites')" [routerLink]="['abm/tramites']">
            <i class="fad fa-file"></i>Tramites</a>

        <a *ngIf="isAdmin" class="link" routerLinkActive="active" (click)="cambioUrl('inmuebles')" [routerLink]="['abm/inmuebles']">
            <i class="fad fa-file"></i>Inmuebles</a>   -->

    </div>
</div>
