<div class="container">

    <h2 style="font-weight: bold;">Detalle Usuario</h2>

    <br>

    <div class="row" *ngIf="usuario">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">

                        <tbody>
                            <tr *ngIf="usuario.nombre">
                                <th>Nombre</th>
                                <td>{{ usuario.nombre}}</td>
                            </tr>
                            <tr *ngIf="usuario.apellido">
                                <th>Apellido</th>
                                <td>{{ usuario.apellido}}</td>
                            </tr>

                            <tr *ngIf="usuario.cuit">
                                <th>CUIT</th>
                                <td>{{ usuario.cuit }}</td>
                            </tr>
                            <tr *ngIf="usuario.dni">
                                <th>DNI</th>
                                <td>{{ usuario.dni }}</td>
                            </tr>
                            <tr *ngIf="usuario.fecha_nacimiento">
                                <th>Fecha de Nacimiento</th>
                                <td>{{ usuario.fecha_nacimiento }}</td>
                            </tr>

                            <tr *ngIf="usuario.matricula">
                                <th>Matricula</th>
                                <td>{{ usuario.matricula }} </td>
                            </tr>

                            <tr *ngIf="usuario.telefono">
                                <th>Teléfono</th>
                                <td>{{ usuario.telefono}}</td>
                            </tr>

                            <tr *ngIf="usuario.email">
                                <th>Email</th>
                                <td>{{ usuario.email }} </td>
                            </tr>

                            <tr *ngIf="usuario.direccion">
                                <th>Dirección</th>
                                <td>{{ usuario.direccion }}</td>
                            </tr>
                            <tr *ngIf="usuario.rol">
                                <th>Rol</th>
                                <td>{{ usuario.rol.descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>





        </div>
        <swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor
            confirmButtonColor confirm></swal>
        <ngx-spinner></ngx-spinner>