

<div class="container">

  <h2 style="font-weight: bold;">Detalle Usuario</h2>

  <br>

  <div class="row">
      <div class="col-12" >
        <div class="row" >
          <div class="col-12">
              <table class="table table-striped" >
                 
                  <tbody>
                      <tr>
                          <th>Numero</th>
                              <td >{{ usuario.nombre }}</td>
                      </tr>
                      <tr>
                          <th>Año</th>
                              <td>{{ usuario.apellido }}</td>
                      </tr>
  
                      <tr>
                          <th>Agrimensor</th>
                              <td>{{ usuario.fecha_nacimiento }}</td>
                      </tr>
  
                      <tr>
                          <th>Gestor</th>
                              <td>{{ usuario.matricula }} </td>
                      </tr>
  
                      <tr>
                          <th>Imueble</th>
                              <td>{{ usuario.telefono}}</td>
                      </tr>
  
                      <tr>
                          <th>Propietario</th>
                              <td>{{ usuario.email }} </td>
                      </tr>
  
                      <tr>
                          <th>Tipo </th>
                              <td>{{ usuario.direccion }}</td>
                      </tr>
  
                     
                         
                     
                  </tbody>
              </table>
  
              
  
      </div>
              
          <div class="row">

              <div class="col-3">
                 
              </div>

              <div class="col-3">
                  
              </div>


          </div>
              
                  
  </div>
  

  


</div>
<!-- <swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal> -->