


    <h2 *ngIf="isAddMode" style="font-weight: bold;">Crear Expediente</h2>
    <br>
    <div class="row" >
        <div class="col-12" >
             <form class="row g-3" [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="form-group">
                        <label for="tipo" class="form-label">Tipo</label>
                        <ng-select  [multiple]="false" [closeOnSelect]="true" formControlName="tipo_expediente" >
                          <ng-option value="" disabled>Seleccione una opcion</ng-option>
                          <ng-option *ngFor="let dato of tipos_expedientes.results" [value]="dato.id" [disabled]="dato.disabled">{{dato.descripcion}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.tipo_expediente.errors" class="invalid-feedback">
                          <div *ngIf="f.tipo_expediente.errors.required">Este campo es obligatorio</div>
                        </div>
                      </div>
                    </div>

                    <div class="col col-md-2">   
                      <div class="form-group">
                        <label for="abreviatura" class="form-label">Tramite Urgente</label>
                        <input type="checkbox" formControlName="tramite_urgente">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-10">
                        <label for="inmueble" class="form-label">Inmueble</label>
                        <ng-select  [multiple]="false" [closeOnSelect]="true" formControlName="inmueble" >
                          <ng-option *ngFor="let dato of inmuebles.results" [value]="dato.id" [disabled]="dato.disabled">{{dato.municipio.departamento.codigo}}-{{dato.municipio.codigo}}-{{dato.seccion}}-{{dato.chacra}}-{{dato.manzana}}-{{dato.parcela}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.inmueble.errors" class="invalid-feedback">
                          <div *ngIf="f.inmueble.errors.required">Este campo es obligatorio</div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearInmueble"  class="btn btn-green btn-agregar">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-10">
                        <label for="propietario" class="form-label">Propietario</label>
                          <ng-select 
                          [items]="propietario$ | async"
                          bindLabel="fullName"
                          bindValue="id"
                          [addTag]="false"
                          [multiple]="false"
                          [hideSelected]="true"
                          [trackByFn]="trackByFn"
                          [minTermLength]="5"
                          [loading]="propietarioLoading"
                          typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                          [typeahead]="propietarioInput$"
                          formControlName="propietario">
                          </ng-select>
                        <div *ngIf="submitted && f.propietario.errors" class="invalid-feedback">
                          <div *ngIf="f.propietario.errors.required">Este campo es obligatorio</div>
                        </div>
                      </div>
  
                      <div class="col-md-2">
                        <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearUsuario"  class="btn btn-green btn-agregar">+</button>
                      </div>
                    </div>
                   
                  </div>

                  <div class="col-md-10">

                    <div class="form-group">
                      <label for="propietario" class="form-label">Documentos</label>
                      <ng-select  [multiple]="true" [closeOnSelect]="false" formControlName="documentos" [ngClass]="{ 'is-invalid': submitted && f.documentos.errors }">
                        <ng-option *ngFor="let dato of documentos.results" [value]="dato.id" [disabled]="dato.disabled">{{dato.descripcion}}</ng-option>
                      </ng-select>
                      <div *ngIf="submitted && documentos.errors" class="invalid-feedback">
                        <div *ngIf="f.documentos.errors.required">Este campo es obligatorio</div>
                      </div>
                    </div>
                  </div>
                    <div class="col-3" >
                      <!-- <button type="button" [routerLink]="['/expediente/buscar']" class="btn btn-green">Volver</button> -->
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-10">
                    <div class="form-group">
                      <label for="abreviatura" class="form-label">Abreviatura</label>
                      <input formControlName="abreviatura" type="text" class="form-control" id="inputPassword4" [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors }">
                      <div *ngIf="submitted && f.abreviatura.errors" class="invalid-feedback">
                        <div *ngIf="f.abreviatura.errors.required">Este campo es obligatorio</div>
                      </div>
                    </div>
                  </div>
                
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-10">
                          <label for="agrimensor" class="form-label">Agrimensor</label>
                         
                          <ng-select 
                            [items]="agrimensor$ | async"
                            bindLabel="fullName"
                            bindValue="id"
                            [addTag]="false"
                            [multiple]="false"
                            [hideSelected]="true"
                            [trackByFn]="trackByFn"
                            [minTermLength]="5"
                            [loading]="agrimensorLoading"
                            typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                            [typeahead]="agrimensorInput$"
                            formControlName="agrimensor">
                          </ng-select>

                          <div *ngIf="submitted && f.agrimensor.errors" class="invalid-feedback">
                            <div *ngIf="f.agrimensor.errors.required">Este campo es obligatorio</div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearUsuario"  class="btn btn-green btn-agregar">+</button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-10">
                          <label for="gestor" class="form-label">Gestor</label>
                          <ng-select 
                            [items]="gestor$ | async"
                            bindLabel="fullName"
                            bindValue="id"
                            [addTag]="false"
                            [multiple]="false"
                            [hideSelected]="true"
                            [trackByFn]="trackByFn"
                            [minTermLength]="5"
                            [loading]="gestorLoading"
                            typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                            [typeahead]="gestorInput$"
                            formControlName="gestor">
                          </ng-select>
                        </div>
                        <div class="col-md-2">
                          <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearUsuario"  class="btn btn-green btn-agregar">+</button>
                        </div>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 10vh">
                      <div class="col-md-6">
                        <button type="button" [routerLink]="['/inmueble/buscar']" class="btn btn-green">Cancelar</button>
                        
                      </div>

                      <div class="col-md-6">
                        <button type="submit" [disabled]="loading" class="btn btn-green">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Guardar
                        </button>
                      </div>
                    </div>  
                </div>
              </form>  
      </div>
    </div>
    
    <hr>

<!-- Crear Usuario -->
<div class="modal fade" id="crearUsuario" tabindex="-1" aria-labelledby="crearUsuario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ingresar Registro</h5>
                <button id="closeModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-crear-usuario (verDetallesFunction)="verDetallesUsuarios($event)"></app-crear-usuario>
            </div>
        </div>
    </div>
</div>

<!-- Crear Inmueble -->
<div class="modal fade" id="crearInmueble" tabindex="-1" aria-labelledby="crearInmueble" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Ingresar Registro</h5>
              <button id="closeModalInmuebleButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-crear-inmueble (verDetallesInmuebles)="verDetalles($event)"></app-crear-inmueble>
          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modificarUsuario()">Modificar</button>
          </div> -->
      </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>