input {
    
    margin-bottom: 20px;    
    background-color: white !important;
}

select {
    margin-bottom: 20px;
}

.container {
    width: 70%;
}

is-invalid {
    background-color: rgb(212, 154, 154);
}
