input {
    
    margin-bottom: 20px;    
    background-color: white !important;
}

select {
    margin-bottom: 20px;
}

is-invalid {
    background-color: rgb(212, 154, 154);
}

.btn {
    
    color: white !important;
    
}
