    @font-face {
        font-family: Roboto Regular;
        src: url(./fonts/Roboto-Regular.ttf);
    }

    @font-face {
        font-family: Roboto Bold;
        src: url(./fonts/Roboto-Bold.ttf);
    }


    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        font-family: 'Roboto Regular' !important;
        background-color: rgb(240, 240, 240) !important;
        padding-left: 350px;
        padding-right: 0px;
        height: 100%;
    }

    table, th, td {
        border-collapse: collapse;
        border-width: 3px;
        padding: 1px;
        border-bottom: 1px dotted #a0a0a0;
        border-left: 2px solid black;
        color: black !important;
        font-size: 12px;
    }
 
    input {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0px;
        max-width: 13%;
        margin: 8px 0px 0px 0px ;
        text-align: center;
        padding: 5px;
    }

    hr {
    margin-bottom: 50px;
    margin-top: 50px;
    } 

    a {
        cursor: pointer;
    }

    h2 {

        margin: 0px;
    }

    h1 {
        font-family: "Times New Roman", Times, serif;
        margin: 0px;
    }

    label{
        font-size: 12px;
    }

  





  






