<div class="container">
    <h2 *ngIf="resultado" style="font-weight: bold;">Detalle Expediente {{resultado.numero}} - {{resultado.anio}}</h2>
    <br>
    <div class="row">
        <div class="col-12" *ngIf="resultado">
            <div class="col-12">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Numero</th>
                            <td>{{ resultado.numero }}</td>
                        </tr>

                        <tr>
                            <th>Año</th>
                            <td>{{ resultado.anio }}</td>
                        </tr>

                        <tr>
                            <th>Tramite</th>
                            <td>{{ tramite?.numero}}{{ tramite?.codigo_verificacion}}</td>
                        </tr>

                        <tr>
                            <th>Abreviatura</th>
                            <td>{{ resultado.mensura?.abreviatura }} <span *ngIf="tramite?.tramite_urgente">[(U)]</span></td>
                          </tr>

                        <tr>
                            <th>Mensura</th>
                            <td>{{ resultado.mensura?.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de Expediente</th>
                            <td>{{ resultado.tipo_expediente.descripcion }} </td>
                        </tr>

                        <tr>
                            <th>Agrimensor</th>
                            <td>{{ resultado.agrimensor.nombre}} {{ resultado.agrimensor.apellido }}</td>
                        </tr>

                        <tr *ngIf="resultado.gestor != null">
                            <th>Gestor</th>
                            <td>{{ resultado.gestor.nombre}} {{ resultado.gestor.apellido }}</td>
                        </tr>

                        <tr *ngIf="resultado.gestor == null">
                            <th>Gestor</th>
                            <td>---</td>
                        </tr>

                        <tr>
                            <th>Propietario</th>
                            <td>{{ resultado.propietario.nombre }} {{ resultado.propietario.apellido }}</td>
                        </tr>

                        <tr>
                            <th>Inmueble</th>
                            <td>{{ resultado.inmueble?.municipio?.departamento.codigo }} - {{
                                resultado.inmueble?.municipio?.codigo }} - {{ resultado.inmueble?.seccion }} - {{
                                resultado.inmueble?.chacra }} - {{ resultado.inmueble?.manzana }} - {{
                                resultado.inmueble?.parcela }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ngx-spinner></ngx-spinner>
    </div>



    <h2 style="font-weight: bold;">Modificar campos</h2>
    <br>
    <div class="row">
        <div class="col-12">
            <form class="row g-3" [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="tipo_expediente" class="form-label">Tipo</label>
                                <ng-select (clear)="limpiarMensuras()" (change)="tipoExpedienteChanged($event)" [multiple]="false" [closeOnSelect]="true" formControlName="tipo_expediente">
                                    <ng-option value="" disabled>Seleccione una opcion</ng-option>
                                    <ng-option *ngFor="let dato of tipos_expedientes?.results" [value]="dato.id"
                                        [disabled]="dato.disabled">{{dato.nombre}}</ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col col-md-2">
                            <div class="form-group">
                                <label for="abreviatura" class="form-label">Tramite Urgente</label>
                                <input type="checkbox" formControlName="tramite_urgente">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label for="inmueble" class="form-label">Inmueble</label>
                                <ng-select 
                                [items]="inmueble$ | async"
                                bindLabel="fullName"
                                bindValue="id"
                                [addTag]="false"
                                [multiple]="false"
                                [hideSelected]="true"
                                [trackByFn]="trackByFn"
                                [minTermLength]="2"
                                [loading]="inmuebleLoading"
                                typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                                [typeahead]="inmuebleInput$"
                                formControlName="inmueble">
                                
                                </ng-select>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label for="propietario" class="form-label">Propietario</label>
                                <ng-select [items]="propietario$ | async" bindLabel="fullName" bindValue="id"
                                    [addTag]="false" [multiple]="false" [hideSelected]="true" [trackByFn]="trackByFn"
                                    [minTermLength]="minLengthTerm" [loading]="propietarioLoading"
                                    typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                                    [typeahead]="propietarioInput$" formControlName="propietario"
                                    [ngClass]="{ 'is-invalid': submitted && f.propietario.errors }">

                                </ng-select>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-10">

                        <div class="form-group">
                            <label for="documentos" class="form-label">Documentos</label>
                            <ng-select [multiple]="true" [closeOnSelect]="false" formControlName="documentos"
                                [ngClass]="{ 'is-invalid': submitted && f.documentos.errors }">
                                <ng-option *ngFor="let dato of documentos?.results" [value]="dato.id"
                                    [disabled]="dato.disabled">{{dato.descripcion}}</ng-option>
                            </ng-select>

                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="mensura" class="form-label">Mensura</label>
                            <ng-select #ngselectmensura [multiple]="false" [closeOnSelect]="true" formControlName="mensura">
                                <ng-option value="" disabled>Seleccione una opcion</ng-option>
                                <ng-option *ngFor="let dato of abreviaturas" [value]="dato.id">{{dato.abreviatura}}</ng-option>
                              </ng-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label for="agrimensor" class="form-label">Agrimensor</label>

                                <ng-select [items]="agrimensor$ | async" bindLabel="fullName" bindValue="id"
                                    [addTag]="false" [multiple]="false" [hideSelected]="true" [trackByFn]="trackByFn"
                                    [minTermLength]="minLengthTerm" [loading]="agrimensorLoading"
                                    typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                                    [typeahead]="agrimensorInput$" formControlName="agrimensor"
                                    [ngClass]="{ 'is-invalid': submitted && f.agrimensor.errors }">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label for="gestor" class="form-label">Gestor</label>
                                <ng-select [items]="gestor$ | async" bindLabel="fullName" bindValue="id"
                                    [addTag]="false" [multiple]="false" [hideSelected]="true" [trackByFn]="trackByFn"
                                    [minTermLength]="minLengthTerm" [loading]="gestorLoading"
                                    typeToSearchText="Por favor, ingrese 2 o mas caracteres" [typeahead]="gestorInput$"
                                    formControlName="gestor">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10vh">

                        <div class="col-md-6">
                            <button type="submit" [disabled]="loading" class="btn btn-green">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <ngx-spinner></ngx-spinner>


    <swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor
        confirmButtonColor confirm></swal>