<div class="container">
    <h2 *ngIf="resultado" style="font-weight: bold;">Detalle Expediente {{resultado.numero}} - {{resultado.anio}}</h2>
    <br>
    <div class="row">
        <div class="col-12" *ngIf="resultado">
          <div class="col-12" >
            <table class="table table-striped" >
                <tbody>
                    <tr>
                          <th>Numero</th>
                          <td>{{ resultado.numero }}</td>
                    </tr>
                    <tr>
                        <th>Abreviatura</th>
                            <td>{{ resultado.abreviatura }}</td>
                    </tr>

                    <tr>
                        <th>Año</th>
                            <td>{{ resultado.anio }}</td>
                    </tr>

                    <tr>
                        <th>Tipo de Expediente</th>
                            <td>{{ resultado.tipo_expediente.descripcion }} </td>
                    </tr>

                    <tr>
                        <th>Agrimensor</th>
                            <td>{{ resultado.agrimensor.nombre}} {{ resultado.agrimensor.apellido }}</td>
                    </tr>

                    <tr *ngIf="resultado.gestor != null">
                        <th>Gestor</th>
                            <td>{{ resultado.gestor.nombre }} </td>
                    </tr>

                    <tr *ngIf="resultado.gestor == null">
                      <th>Gestor</th>
                        <td>{{ resultado.agrimensor.nombre}} {{ resultado.agrimensor.apellido }}</td>
                  </tr>

                    <tr>
                        <th>Propietario</th>
                            <td>{{ resultado.propietario.nombre }} {{ resultado.propietario.apellido }}</td>
                    </tr>

                    <tr>
                      <th>Inmueble</th>
                          <td>{{ resultado.inmueble.municipio.departamento.codigo }}- {{ resultado.inmueble.municipio.codigo }} - {{ resultado.inmueble.seccion }} -{{ resultado.inmueble.chacra }} - {{ resultado.inmueble.manzana }} -{{ resultado.inmueble.parcela }}</td>
                          
                  </tr>    
                </tbody>
            </table>
          </div>        
    </div>
    <ngx-spinner></ngx-spinner>
</div>



<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>