    <div class="row">
        <h1 style="font-weight: bold;">Consulta de Expediente</h1>
    </div>
    <br>  
    <form [formGroup]="expedienteForm">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="param_busqueda" class="form-label">Consultar por</label>   
               
                <ng-select id="param_busqueda" [multiple]="false" [closeOnSelect]="true" formControlName="param_busqueda" [ngClass]="{ 'is-invalid': submitted && e.param_busqueda.errors }">
                    <ng-option *ngIf="!categories"> cargando</ng-option>
                    <ng-option *ngIf="categories" value="" disabled>Seleccione una opcion</ng-option>
                    <ng-option *ngFor="let cat of categories" [value]="cat.value" [disabled]="cat.disabled">{{cat.name}}</ng-option>
                </ng-select>
                <div *ngIf="e.param_busqueda.errors" class="invalid-feedback">
                    <div *ngIf="e.param_busqueda.errors.required">Seleccione una opción.</div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="numero" class="form-label">Número de {{expedienteForm.value.param_busqueda}}</label>
                <input (keyup.enter)="buscarExpediente()" formControlName="numero" maxlength="8" inputmode="text" type="text" placeholder="Número" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && e.numero.errors }">
                <div *ngIf="e.numero.errors" class="invalid-feedback">
                    <div *ngIf="e.numero.errors.required">Este campo es requerido.</div>
                    <div *ngIf="e.numero.errors.pattern">Ingresar solamente números.</div>
                </div>
                <small *ngIf="expedienteForm.value.param_busqueda === 'expediente'" class="form-text text-muted">Ingrese el numero de expediente y año, sin espacios.</small> 
                <small *ngIf="expedienteForm.value.param_busqueda === 'tramite'"  class="form-text text-muted">Ingrese el numero de tramite, sin espacios.</small>   
                
            </div>
            
            <div class="col-md-4">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-6" [ngClass]="{'col-md-12': !_functionService.isAdmin && !_functionService.isEmpleadoME}">
                            <button type="button" (click)="buscarExpediente()" class="btn btn-green">Buscar</button>
                        </div>
                        <div *ngIf="_functionService.isAdmin || _functionService.isEmpleadoME" class="col-md-6" >
                            <button routerLink="/expediente/agregar" type="button" class="btn btn-green">Nuevo</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </form>
    <form [formGroup]="consultaForm">
        <hr />

        <div class="row justify-content-end" *ngIf="_functionService.isAdmin || _functionService.isEmpleado || _functionService.isEmpleadoME || _functionService.isEmpleadoCarga">
            <h2 style="font-weight: bold;">Filtrar expedientes</h2>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="anio" class="form-label">Año</label>
                <select formControlName="anio" class="form-select" >
                    <option [value]="dato" *ngFor="let dato of rangeYear()" value="">{{dato}}</option>
                </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="mensura" class="form-label">Abreviatura</label>
                <select formControlName="mensura" class="form-select">
                    <option [value]="dato.id" *ngFor="let dato of abreviaturas?.results" value="">{{dato.abreviatura}}</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="username" class="form-label">Tipo de Expediente</label> 
               
                <select formControlName="tipo_expediente" class="form-select">
                    <option [value]="dato.id" *ngFor="let dato of tipos_expedientes?.results" value="">{{dato.nombre}}</option>
                </select>
            </div>
            <div class="col-md-4">
                    <label for="username" class="form-label">Agrimensor</label>   
                    <ng-select 
                    [items]="agrimensor$ | async"
                    bindLabel="fullName"
                    bindValue="id"
                    [addTag]="false"
                    [multiple]="false"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="agrimensorLoading"
                    typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                    [typeahead]="agrimensorInput$"
                    formControlName="agrimensor"
                    id="prueba">
                  </ng-select>
            </div>
            <div class="col-md-4">
                <label for="username" class="form-label">Propietario</label>
                        <ng-select 
                          [items]="propietario$ | async"
                          bindLabel="fullName"
                          bindValue="id"
                          [addTag]="false"
                          [multiple]="false"
                          [hideSelected]="true"
                          [trackByFn]="trackByFn"
                          [minTermLength]="2"
                          [loading]="propietarioLoading"
                          typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                          [typeahead]="propietarioInput$"
                          formControlName="propietario">
                          </ng-select> 
            </div>
            <div class="col-md-4">
                        <label for="username" class="form-label">Gestor</label>
                        <ng-select 
                        [items]="gestor$ | async"
                        bindLabel="fullName"
                        bindValue="id"
                        [addTag]="false"
                        [multiple]="false"
                        [hideSelected]="true"
                        [trackByFn]="trackByFn"
                        [minTermLength]="3"
                        [loading]="gestorLoading"
                        typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                        [typeahead]="gestorInput$"
                        formControlName="gestor">
                    </ng-select> 
            </div>
            <!-- <div class="col-md-4">
                <label for="inmueble" class="form-label">Inmueble</label>
                <ng-select 
                    [items]="inmueble$ | async"
                    bindLabel="fullName"
                    bindValue="id"
                    [addTag]="false"
                    [multiple]="false"
                    [hideSelected]="true"
                    [trackByFn]="trackByFn"
                    [minTermLength]="3"
                    [loading]="inmuebleLoading"
                    typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                    [typeahead]="inmuebleInput$"
                    formControlName="inmueble"
                    [ngClass]="{ 'is-invalid': submitted && f.inmueble.errors }">
                </ng-select>  
            </div> -->
            <div class="col-md-4 ">
                <div class="mt-3">
                    <button type="button" (click)="buscarExpedientes()" class="btn btn-green">Consultar</button>
                </div>
            </div>
        </div>
    </form>
    
    <hr *ngIf="expedientes"/>
    <div *ngIf="expedientes">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>N° Expediente</th>
                    <th>Gestor / Iniciador</th>
                    <th>Propietario</th>
                    <th>Abreviatura</th>
                    <th>Creado</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exp of expedientes?.results | paginate: { itemsPerPage: 10, currentPage: p, totalItems: expedientes.count }" [ngClass]="{ 'bg-warning': exp.tramite_urgente }">
                    <td *ngIf="exp.expediente.numero; else previa">{{ exp.expediente.numero }}/{{ exp.expediente.anio }}</td>
                    <ng-template #previa><td>PREVIA</td></ng-template>
                    
                    <td *ngIf="exp.expediente.gestor"> {{ exp.expediente.gestor?.nombre }} {{ exp.expediente.gestor?.apellido }}</td> 
                    <td *ngIf="!exp.expediente.gestor"> {{ exp.expediente.agrimensor?.nombre }} {{ exp.expediente.agrimensor?.apellido }}</td> 
                    <td> {{ exp.expediente.propietario?.nombre }} {{ exp.expediente.propietario?.apellido }}</td>
                    <td>{{ exp.expediente.mensura?.abreviatura}}</td>
                    <td>{{ exp.expediente.created_at | date:'short'}}</td>
                    <td><b *ngIf="exp.expediente.habilitado == true; else inactivo">Activo</b> <ng-template #inactivo><b>Inactivo</b></ng-template></td>
                    <td>
                        <a id="btnDetalle" class="mx-1" [ngClass]="{'mx-3': _functionService.isEmpleado}" [routerLink]="['/expediente/', exp.expediente.id ]" >
                            <span style="color: gray;">
                                <svg id="i-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M16 14 L16 23 M16 8 L16 10" />
                                <circle cx="16" cy="16" r="14" />
                                </svg>
                            </span>
                        </a>
                        <a id="btnEliminar" class="mx-1 link" *ngIf="_functionService.isAdmin" routerLinkActive="active" (click)="eliminar(exp.expediente.id)" >
                            <span style="color: rgb(248, 86, 86);">
                                <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                                </svg>
                            </span>
                        </a>
                        <a id="btnEditar" *ngIf="_functionService.isAdmin || _functionService.isEmpleadoME || _functionService.isEmpleadoCarga" class="mx-1" [routerLink]="['/expediente/editar/', exp.expediente.id ]"  >
                            <span style="color: rgb(248, 152, 9);">
                                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
        <div class="col-md-4">
            <div class="mt-3">
                <button type="button" (click)="limpiar()" class="btn btn-green float-right">Limpiar</button>
            </div>
        </div>
    </div> 
    <ngx-spinner></ngx-spinner>
<hr>

<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>