input {
    
    margin-bottom: 20px;    
    background-color: white !important;
    text-transform:uppercase
}

select {
    margin-bottom: 20px;
}


.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.disabled {
    background-color : #e9ecef !important; 
}