

<div class="container">

    <h2 *ngIf="resultado" style="font-weight: bold;">Detalle Expediente {{resultado.numero}} - {{resultado.anio}}</h2>

    <br>

    <div class="row">
        <div class="col-12" *ngIf="resultado">
          <form class="row g-3" [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">

              <!-- <div class="form-group">
                <label for="numero" class="form-label">Numero</label>
                <input type="number" formControlName="numero"   class="form-control" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors, 'disabled': !isEditMode }" >
                <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                  <div *ngIf="f.numero.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->

              <!-- <div class="form-group">
                <label for="año" class="form-label">Año</label>
                <input type="number" formControlName="anio" class="form-control" id="anio" required [ngClass]="{ 'is-invalid': submitted && f.anio.errors, 'disabled': !isEditMode }">
                <div *ngIf="submitted && f.anio.errors" class="invalid-feedback">
                  <div *ngIf="f.anio.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->
              

              <div class="form-group">
                <label for="tipo_expediente" class="form-label">Tipo Expediente</label>
                <select [compareWith]="compareFn" *ngIf="tipos_expedientes" [(value)]="selecteditem" class="form-control" formControlName="tipo_expediente" >
                  <ng-container *ngFor="let dato of tipos_expedientes.results">
                    <option  [ngValue]="dato">
                      {{dato.descripcion}}
                  </option>
                  </ng-container>
                </select>
              </div>

              <div class="form-group">
                
                <label for="abreviatura" class="form-label">Abreviatura</label>
                <input formControlName="abreviatura"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors, 'disabled': !isEditMode }">
                
              </div>

              <div class="form-group">
                <label for="inmueble" class="form-label">Inmueble</label>
                <select [compareWith]="compareFn" *ngIf="inmuebles" [(value)]="selectedinmueble" class="form-control" formControlName="inmueble" >
                  <ng-container *ngFor="let dato of inmuebles.results">
                    <option [ngValue]="dato">
                      {{dato.observaciones}}
                  </option>
                  </ng-container>
                </select>
              </div>


              <div class="form-group" *ngIf="expedienteForm.value.observacion.descripcion" >
                <label for="inmueble" class="form-label">Observaciones</label>


                <textarea name="observaciones" class="form-control" formControlName="observacion"  id="observacion" cols="30" rows="5">
                  {{expedienteForm.value.observacion.descripcion}}
                </textarea>

                
              </div>

             
                <div class="row">
                  <div class="col-md-6">

                    <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()">Imprimir Solapa</button>
                  
                  </div>

                  <div class="col-md-6">

                    <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()">Imprimir Etiqueta</button>

                  </div>
                 
                </div>
                
                  
                
            </div>
            <div class="col-md-6">
                <div class="form-group" >
                  <label for="agrimensor" class="form-label">Agrimensor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedagrimensor" class="form-control" formControlName="agrimensor"  >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <label for="gestor" class="form-label">Gestor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedgestor" class="form-control" formControlName="gestor" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </ng-container>
                  </select>

                </div>

                <div class="form-group">
                  <label for="propietario" class="form-label">Propietario</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedpropietario" class="form-control" formControlName="propietario" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>

                <!-- <div class="form-group">
                  <label for="propietario" class="form-label">Documentos</label>
                  <ng-multiselect-dropdown
                    [placeholder]="'Seleccione una opcion'"
                    [settings]="dropdownSettings"
                    [data]="documentos.results"
                    formControlName="documentos"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>


                  <div *ngIf="submitted && documentos.errors" class="invalid-feedback">
                    <div *ngIf="f.documentos.errors.required">Este campo es obligatorio</div>
                  </div>
                </div> -->

                <div class="row">


                  <div class="col-md-6">
                    <button (click)="verHistorial()" type="button" class="btn btn-green">Ver Historial</button>
                  </div>
                  
  
                  <div class="col-md-6">
                     <!-- <button type="submit" class="btn btn-green" >Guardar</button> -->
                  <button *ngIf="isEditMode" [disabled]="loading" class="btn btn-green">
                    <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                    Guardar
                  </button>
  
                  <button *ngIf="!isEditMode && isAdmin" (click)="editar()"  [disabled]="loading" type="button" class="btn btn-green">
                    <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                    Editar
                  </button>
  
                  </div>


                </div>
              
                
               
                
            </div>
           
            
          </form>  
                
            <div class="row">

                <div class="col-3">
                   
                </div>

                <div class="col-3">
                    
                </div>


            </div>
                
                    
    </div>
    

    <ngx-spinner></ngx-spinner>


</div>
<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>