

<div class="container">

    <h2 *ngIf="resultado" style="font-weight: bold;">Detalle Expediente {{resultado.numero}} - {{resultado.anio}}</h2>

    <br>

    <div class="row">
        <div class="col-12" *ngIf="resultado && tipos_expedientes && usuarios">
          <form class="row g-3" [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">

              <!-- <div class="form-group">
                <label for="numero" class="form-label">Numero</label>
                <input type="number" formControlName="numero"   class="form-control" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors, 'disabled': !isEditMode }" >
                <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                  <div *ngIf="f.numero.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->

              <!-- <div class="form-group">
                <label for="año" class="form-label">Año</label>
                <input type="number" formControlName="anio" class="form-control" id="anio" required [ngClass]="{ 'is-invalid': submitted && f.anio.errors, 'disabled': !isEditMode }">
                <div *ngIf="submitted && f.anio.errors" class="invalid-feedback">
                  <div *ngIf="f.anio.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->
              

              <div class="form-group">
                <label for="tipo_expediente" class="form-label">Tipo Expediente</label>
                <select [compareWith]="compareFn" *ngIf="tipos_expedientes" [(value)]="selecteditem" class="form-control" formControlName="tipo_expediente" >
                  <ng-container *ngFor="let dato of tipos_expedientes.results">
                    <option  [ngValue]="dato">
                      {{dato.descripcion}}
                  </option>
                  </ng-container>
                </select>
              </div>

              <div class="form-group">
                
                <label for="abreviatura" class="form-label">Abreviatura</label>
                <input formControlName="abreviatura"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors, 'disabled': !isEditMode }">
                
              </div>

              <div class="form-group">
                <label for="inmueble" class="form-label">Inmueble</label>
                <select [compareWith]="compareFn" *ngIf="inmuebles" [(value)]="selectedinmueble" class="form-control" formControlName="inmueble" >
                  <ng-container *ngFor="let dato of inmuebles.results">
                    <option [ngValue]="dato">
                      {{dato.observaciones}}
                  </option>
                  </ng-container>
                </select>
              </div>


              <div class="form-group" *ngIf="expedienteForm.value.observacion.descripcion" >
                <label for="inmueble" class="form-label">Observaciones</label>


                <textarea name="observaciones" class="form-control" formControlName="observacion"  id="observacion" cols="30" rows="5">
                  {{expedienteForm.value.observacion.descripcion}}
                </textarea>

                
              </div>  
            </div>


            <div class="col-md-6">
                <div class="form-group" >
                  <label for="agrimensor" class="form-label">Agrimensor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedagrimensor" class="form-control" formControlName="agrimensor"  >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <label for="gestor" class="form-label">Gestor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedgestor" class="form-control" formControlName="gestor" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <label for="propietario" class="form-label">Propietario</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedpropietario" class="form-control" formControlName="propietario" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>              
            </div>
          
            <div class="row">
              
              <div class="col-md-6">
                <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()">Imprimir Solapa</button>
              </div>
            

              <div class="col-md-6">
                <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()">Imprimir Etiqueta</button>
              </div> 
            </div>

            <div class="row">
              <div class="col-md-6">
                <button (click)="verHistorial()" type="button" class="btn btn-green">Ver Historial</button>
              </div>
            
              <div class="col-md-6">
                 <!-- <button type="submit" class="btn btn-green" >Guardar</button> -->
              <button *ngIf="isEditMode" [disabled]="loading" class="btn btn-green">
                <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                Guardar
              </button>

              <button *ngIf="!isEditMode && isAdmin" (click)="editar()"  [disabled]="loading" type="button" class="btn btn-green">
                <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                Editar
              </button>

              </div>

              <div class="col-md-12">

                <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearRetiro" class="btn btn-green btn-block">Devolver Documentos</button>
                <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearRetiro" class="btn btn-green btn-block">Retirar Documentos</button>

              </div>
            </div>

          </form>  
                
      
            
                
                    
    </div>

    <ngx-spinner></ngx-spinner>

</div>


<!-- MODAL CREAR RETIRO -->

<div class="modal fade" id="crearRetiro" tabindex="-1" aria-labelledby="crearRetiro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Registrar Retiro</h5>
              <button id="closeModalRetiroButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                   <form class="row g-3" [formGroup]="retiroForm" (ngSubmit)="guardarRetiro()">
                      <div class="col-md-12">      
                        <div class="form-group">
                          <label for="descripcion" class="form-label">Descripcion *</label>
                          <input formControlName="descripcion" placeholder="Descripcion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.descripcion.errors }">
                          <div *ngIf="submitted && r.descripcion.errors" class="invalid-feedback">
                            <div *ngIf="r.descripcion.errors.required">Este campo es obligatorio</div>
                          </div>
                        </div>
      
                        <div *ngIf="documentos" class="form-group">
                          <label for="documentos" class="form-label">Documentos *</label>
                          <ng-select [multiple]="true" [closeOnSelect]="false" formControlName="documento" [ngClass]="{ 'is-invalid': submitted && r.descripcion.errors }">
                            <ng-option *ngFor="let doc of documentosexpediente" [value]="doc.id" [disabled]="doc.disabled">{{doc.descripcion}}</ng-option>
                          </ng-select>
                          <div *ngIf="submitted && r.documento.errors" class="invalid-feedback">
                            <div *ngIf="r.documento.errors.required">Este campo es obligatorio</div>
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="row">    
                            <div class="col-md-12">                              
                              <label for="gestor" class="form-label">Usuario *</label>
                              <ng-select 
                                [items]="gestor$ | async"
                                bindLabel="fullName"
                                bindValue="id" 
                                [addTag]="false"
                                [multiple]="false"
                                [hideSelected]="true"
                                [trackByFn]="trackByFn"
                                [minTermLength]="3"
                                [loading]="gestorLoading"
                                typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                                [typeahead]="gestorInput$"
                                formControlName="usuario">
                              </ng-select>
                            </div>
                          </div>                     
                        </div>
                      </div>

                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-12">
                              <button type="button" class="btn btn-green">Volver</button>
                              <button type="button" class="btn btn-green" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    
                              <button type="button" (click)="guardarRetiro()" [disabled]="loading" class="btn btn-green">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Guardar
                              </button>
                            </div>                            
                          </div>  
                      </div>
                    </form>  
              </div>
            </div>
          </div>
         
      </div>
  </div>
</div>


<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>