

<div class="container">

    <h2 *ngIf="resultado" style="font-weight: bold;">Detalle Expediente {{resultado.numero}} - {{resultado.anio}}</h2>

    <br>

    <div class="row">
        <div class="col-12" *ngIf="resultado && tipos_expedientes && usuarios">
          <form class="row g-3" [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">

              <!-- <div class="form-group">
                <label for="numero" class="form-label">Numero</label>
                <input type="number" formControlName="numero"   class="form-control" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors, 'disabled': !isEditMode }" >
                <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                  <div *ngIf="f.numero.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->

              <!-- <div class="form-group">
                <label for="año" class="form-label">Año</label>
                <input type="number" formControlName="anio" class="form-control" id="anio" required [ngClass]="{ 'is-invalid': submitted && f.anio.errors, 'disabled': !isEditMode }">
                <div *ngIf="submitted && f.anio.errors" class="invalid-feedback">
                  <div *ngIf="f.anio.errors.required">Este campo es obligatorio</div>
                </div>
              </div> -->
              

              <div class="form-group">
                <label for="tipo_expediente" class="form-label">Tipo Expediente</label>
                <select [compareWith]="compareFn" *ngIf="tipos_expedientes" [(value)]="selecteditem" class="form-control" formControlName="tipo_expediente" >
                  <ng-container *ngFor="let dato of tipos_expedientes.results">
                    <option  [ngValue]="dato">
                      {{dato.descripcion}}
                  </option>
                  </ng-container>
                </select>
              </div>

              <div class="form-group">
                
                <label for="abreviatura" class="form-label">Abreviatura</label>
                <input formControlName="abreviatura"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors, 'disabled': !isEditMode }">
                
              </div>

              <div class="form-group">
                <label for="inmueble" class="form-label">Inmueble</label>
                <select [compareWith]="compareFn" *ngIf="inmuebles" [(value)]="selectedinmueble" class="form-control" formControlName="inmueble" >
                  <ng-container *ngFor="let dato of inmuebles.results">
                    <option [ngValue]="dato">
                      {{dato.observaciones}}
                  </option>
                  </ng-container>
                </select>
              </div>


              <div class="form-group" *ngIf="expedienteForm.value.observacion.descripcion" >
                <label for="inmueble" class="form-label">Observaciones</label>


                <textarea name="observaciones" class="form-control" formControlName="observacion"  id="observacion" cols="30" rows="5">
                  {{expedienteForm.value.observacion.descripcion}}
                </textarea>

                
              </div>  
            </div>


            <div class="col-md-6">
                <div class="form-group" >
                  <label for="agrimensor" class="form-label">Agrimensor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedagrimensor" class="form-control" formControlName="agrimensor"  >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <label for="gestor" class="form-label">Gestor</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedgestor" class="form-control" formControlName="gestor" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <label for="propietario" class="form-label">Propietario</label>
                  <select [compareWith]="compareFn" *ngIf="usuarios" [(value)]="selectedpropietario" class="form-control" formControlName="propietario" >
                    <ng-container *ngFor="let dato of usuarios.results">
                      <option [ngValue]="dato">
                        {{dato.nombre}} {{dato.apellido}}
                    </option>
                    </ng-container>
                  </select>
                </div>              
            </div>
          
            <div class="row">
              
              <div class="col-md-6">
                <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()" printSectionId="mytodosItemsId"
                printTitle="CARATULA"
                ngxPrint
                styleSheetFile="/assets/pdf.scss">Imprimir Solapa</button>
              </div>
            

              <div class="col-md-6">
                <button type="button" class="btn btn-green btn-block" (click)="imprimirEtiqueta()" printSectionId="Etiqueta"
                ngxPrint
                styleSheetFile="/assets/etiqueta.scss">Imprimir Etiqueta</button>
              </div> 
            </div>

            <div class="row">
              <div class="col-md-6">
                <button (click)="verHistorial()" type="button" class="btn btn-green">Ver Historial</button>
              </div>
            
              <div class="col-md-6">
                 <!-- <button type="submit" class="btn btn-green" >Guardar</button> -->
              <button *ngIf="isEditMode" [disabled]="loading" class="btn btn-green">
                <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                Guardar
              </button>

              <button *ngIf="!isEditMode && isAdmin" (click)="editar()"  [disabled]="loading" type="button" class="btn btn-green">
                <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                Editar
              </button>

              </div>

              <div class="col-md-12">

                <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearRetiro" class="btn btn-green btn-block">Devolver Documentos</button>
                <button type="button" data-bs-toggle="modal" id="btn-edit-user"  data-bs-target="#crearRetiro" class="btn btn-green btn-block">Retirar Documentos</button>

              </div>
            </div>

          </form>  
                
      
            
                
                    
    </div>

    <ngx-spinner></ngx-spinner>

</div>


<!-- MODAL CREAR RETIRO -->

<div class="modal fade" id="crearRetiro" tabindex="-1" aria-labelledby="crearRetiro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Registrar Retiro</h5>
              <button id="closeModalRetiroButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                   <form class="row g-3" [formGroup]="retiroForm" (ngSubmit)="guardarRetiro()">
                      <div class="col-md-12">      
                        <div class="form-group">
                          <label for="descripcion" class="form-label">Descripcion *</label>
                          <input formControlName="descripcion" placeholder="Descripcion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.descripcion.errors }">
                          <div *ngIf="submitted && r.descripcion.errors" class="invalid-feedback">
                            <div *ngIf="r.descripcion.errors.required">Este campo es obligatorio</div>
                          </div>
                        </div>
      
                        <div *ngIf="documentos" class="form-group">
                          <label for="documentos" class="form-label">Documentos *</label>
                          <ng-select [multiple]="true" [closeOnSelect]="false" formControlName="documento" [ngClass]="{ 'is-invalid': submitted && r.descripcion.errors }">
                            <ng-option *ngFor="let doc of documentosexpediente" [value]="doc.id" [disabled]="doc.disabled">{{doc.descripcion}}</ng-option>
                          </ng-select>
                          <div *ngIf="submitted && r.documento.errors" class="invalid-feedback">
                            <div *ngIf="r.documento.errors.required">Este campo es obligatorio</div>
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="row">    
                            <div class="col-md-12">                              
                              <label for="gestor" class="form-label">Usuario *</label>
                              <ng-select 
                                [items]="gestor$ | async"
                                bindLabel="fullName"
                                bindValue="id" 
                                [addTag]="false"
                                [multiple]="false"
                                [hideSelected]="true"
                                [trackByFn]="trackByFn"
                                [minTermLength]="3"
                                [loading]="gestorLoading"
                                typeToSearchText="Por favor, ingrese 2 o mas caracteres"
                                [typeahead]="gestorInput$"
                                formControlName="usuario">
                              </ng-select>
                            </div>
                          </div>                     
                        </div>
                      </div>

                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-12">
                              <button type="button" class="btn btn-green">Volver</button>
                              <button type="button" class="btn btn-green" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    
                              <button type="button" (click)="guardarRetiro()" [disabled]="loading" class="btn btn-green">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Guardar
                              </button>
                            </div>                            
                          </div>  
                      </div>
                    </form>  
              </div>
            </div>
          </div>
         
      </div>
  </div>
</div>


<!-- SOLAPA HTML -->
<div hidden *ngIf="resultado">

  <div id="mytodosItemsId">
      <h1 style="text-align: center; font-size: 20px; font-weight: 100;">PROVINCIA DE MISIONES</h1>
      <h2 style="font-weight: bold; text-align: center;">Ministerio de Gobierno</h2>
      <h2 style="font-weight: bold; text-align: center;">Subsecretaria de Gob. y Asuntos Registrales</h2>
     
      <table class="table table-bordered" style="width:100%; margin-top: 0px; border:1px solid black;"> 
         
          <tr>
            <th><h1  style="text-align: center; font-size: 25px; font-weight: 900;" >DIRECCION GENERAL DE CATASTRO</h1></th>
          </tr>
          
      </table>
        <div class="row">

          <div *ngIf="resultado">
              <span>Expediente Nº &nbsp;&nbsp;</span> 
              <input type="text" name="" id="" value="9945" style="margin-left: 20px;">
              
              <input type="text" name="" id="" value="013" style="margin-left: 20px;">
              <input type="text" name="" id="" value="{{resultado.numero}}" style="margin-left: 20px;">
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
              <input type="text" name="" id="" value="{{resultado.anio}}" style="margin-left: 20px;">
          </div>
          
        
        </div>

        <div class="row">

          <div style="margin-left:100px;">
              
              <label for="" style="margin-left:10px;">Codigo de Organismo</label>&nbsp;&nbsp;&nbsp;

              <label for="" style="margin-left:1px;">Nº Correlativo</label> &nbsp;&nbsp;&nbsp;

              <label for="" style="margin-left:15px;">Año</label> &nbsp;&nbsp;&nbsp;

              <label for="" style="margin-left: 40px;">Cuerpo Nº</label> 

              <label for="" style="margin-left:65px;">Fecha</label> &nbsp;&nbsp;&nbsp;

          </div>

        </div>

        <div class="row">
          <div class="col-md-2">
              <span>Corresponde Nº</span> 
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
              <input type="text" name="" id="" value="" style="margin-left: 20px;">
          </div>  
        </div>
        
      <table class="table table-bordered" style="width:100%; border:1px solid black;" *ngIf="resultado">
          <tr>
            <th style="text-align: left;">Iniciador: {{resultado.gestor.nombre | uppercase }} {{resultado.gestor.apellido | uppercase }}</th>
          </tr>
          <tr>
            <td style="text-align: right;"><strong>DEF DIRECTA M.P.U y F.</strong> </td>
          </tr>
          <tr>
            <td style="text-align: left;">Asunto: APROBACION DE MENSURA DE</td>
          </tr>
          <tr>
            <td style="text-align: center; font-weight: 900;">{{resultado.propietario.nombre | uppercase }} {{resultado.propietario.apellido | uppercase }} </td>
          </tr>
          <tr>
            &nbsp;
            &nbsp;
            <td style="text-align: center;">DEPTO CAPITAL - MUNICIPIO POSADAS - CIUDAD POSADAS- CHACRA 80-MANZANA D-LOTE1</td>
            &nbsp;
            &nbsp;
          </tr>
      </table>

      <table class="table " style="width:100%; margin-top: 20px; border:1px solid black;">
       
          <th >Expedientes Agregados</th>
        

          <th>Codigo Organismo</th>
       
      
          <th>Nº Correlativo</th>
    
    
          <th>Año</th>
     
     
          <th>Fecha Agregacion</th>
     
     
          <th>Fecha Desglose</th>
      
          <th>F º</th>

          <tbody>
            <tr>
  
             <td style="padding: 15px; border-left: 1px dotted #a0a0a0;"></td>
               <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
  
            </tr>
            <tr>
  
              <td style="padding: 15px; border-left: 1px dotted #a0a0a0;"></td>
              <td style="border-left: 2px solid #000000;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
  
            </tr>
            <tr>
  
             <td style="padding: 15px; border-left: 1px dotted #a0a0a0;"></td>
             
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
  
            </tr>
            <tr>
  
             <td style="padding: 15px; border-left: 1px dotted #a0a0a0;"></td>
             
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
              <td style="border-left: 2px solid black;"></td>
  
            </tr>
           
          </tbody>
     
    </table>

    <table class="table table-bordered" style="width:100%; margin-top: 20px; border:1px solid black;">
      <th>Archivado en</th>
      <th>Reparticion de Origen</th>
      <th>Archivo Intermedio</th>
      <th>Archivo Central</th>
      <th>Termino</th>
      <tbody>
        <tr>
         <td style="padding: 15px; border-left: 1px dotted #a0a0a0;"></td>
          <td style="border-left: 2px solid black;"></td>
          <td style="border-left: 2px solid black;"></td>
          <td style="border-left: 2px solid black;"></td>
          <td style="border-left: 2px solid black;"></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>


<!-- ETIQUETA HTML -->
<div hidden>
 
  <div id="Etiqueta">

      <table>
          <tr>
              <th>
                  <h2 style="text-decoration: underline; text-align: left; font-size: 8px;">Direccion General de Catastro</h2>
              </th>
              
              <th>
                  <img src="../../../../../../../assets/escudo.png" alt="" width="20" height="18"> 
              </th>
          </tr>

          
      </table>
    
      
      <!--  -->

      <table>
         
              <tr>
                  <th style="text-align: left">
                      <ngx-barcode *ngFor="let bcValue of values"
                      [bc-element-type]="elementType"
                      [bc-value]="bcValue"
                      [bc-format]="format"
                      [bc-line-color]="lineColor"
                      [bc-width]="width"
                      [bc-height]="height"
                      [bc-display-value]="displayValue"
                      [bc-font-options]="fontOptions"
                      [bc-font]="font"
                      [bc-text-align]="textAlign"
                      [bc-text-position]="textPosition"
                      [bc-text-margin]="textMargin"
                      [bc-font-size]="fontSize"
                      [bc-background]="background"
                      [bc-margin]="margin"
                      [bc-margin-top]="marginTop"
                      [bc-margin-bottom]="marginBottom"
                      [bc-margin-left]="marginLeft"
                      [bc-margin-right]="marginRight"
                  ></ngx-barcode> <br>

                  Tramite: 1234 <br>
                  Expte: 99872021 -001 <br>
                  Pres: 12/12/2021 <br>
                  </th>

                  <th style="font-weight: normal; font-size: 7.5px;" >
                      Tipo: PRE M.PU y F <br>
                      Prof: NOMBRE PROFESIONAL <br> 
                      20-656465-6 <br>
                      Tit: NOMBRE TITULAR <br> 
                      27-65656264-6 <br>
                      Usuario de Impresion: <br>
                      USUARIO <br>    
                      31/12/2021 23:5:12 <br>
                      
                  </th>
                  
              </tr>
             

          
         
              <tr>
                  <td>
                     
                  </td>
              </tr>
             
          


      </table>
     
     
  </div>

</div>

<swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>